<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2013-2016 alladin-IT GmbH
  
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
    http://www.apache.org/licenses/LICENSE-2.0
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.alladin.openrmbt.android"
    android:versionCode="20209"
    android:versionName="2.2.9"
    android:installLocation="auto" >

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    
    <!-- "dangerous" -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="at.alladin.rmbt.android.test" />
    
    <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:allowBackup="true"
        android:supportsRtl="false">
        <uses-library android:name="android.test.runner" />
        
        
        <activity android:name="at.alladin.rmbt.android.main.RMBTMainActivity" 
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.Holo"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            
        <!--
        	in most cases 
         		android:configChanges="orientation|screenSize|keyboardHidden"
         	is a bad choice. don't use it!
         	
         	this configuration has been chosen for a faster (and simpler) rotation (landscape/portrait) during the test
         	UPDATE 2016.02.18: removed configChanges -->
         	
		<!-- android:screenOrientation="portrait" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/preferences" 
            android:name="at.alladin.rmbt.android.preferences.RMBTPreferenceActivity"
            android:theme="@android:style/Theme.Holo"  
            android:enabled="true" />
        
        <activity android:label="@string/terms" android:name="at.alladin.rmbt.android.terms.RMBTTermsActivity"
            android:theme="@android:style/Theme.Holo" 
			android:enabled="true" />
        
        <service android:enabled="true" android:name="at.alladin.rmbt.android.test.RMBTService" android:exported="false" />
        <service android:enabled="true" android:name="at.alladin.rmbt.android.test.RMBTLoopService" android:exported="false" />
        
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value=""/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
    </application>
    

</manifest>
